@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$body-bg-lght: #eeeeee;

$bg-gray-lgh:#f9f9f9; 
$bg-yellow-lgh:#ffe9a9;

$main-color-lilac: #695CFE;
$main-color-lilac-hov: #8175ff;

$main-color-aqua: #2EF0FF;
$main-color-aqua-hov: #50f1fc;
$main-color-dark: #153099;
$main-color-midl: #1f70d8;
$text-dark: #282828;
$text-dark-lgh: #4e4e4e;
$text-white: #ffffff;


$alert-dark: #FBC02D;
$alert-lght: #FDD835;
$white: #ffffff;
